body{
    font-family: 'Roboto', sans-serif;
}

.card-prices{
    text-align: right;
}

.p-antiguo{
    font-size:medium;
    color:#707070;
    display: inline-block;
}

.p-nuevo{
    font-size: x-large;
    color:green;
    font-weight: bold;
    display: inline-block;
}

.card-text1{
    color:#707070;
    font-size: large;
    margin-bottom: 0;
}

.card-text2{
    color:#707070;
    font-size: medium;
}

.nav-item{
    color:white
}

#navbarNav{
    color:white
}

.mensaje{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.mb-3{
    color:white
}

legend{
    color: white;
    margin-top: 30px;
}

footer{
    text-align: center;
    padding: 30px;
    color:#707070;
}

.boton{
    text-align:center;
    font-weight: bolder;
}